*.py[cod]
*.orig

# C extensions
*.c
*.o
*.so
*.html

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports / profiling output
.coverage
.tox
*.prof

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea

# Configs
config.json
cluster.json

#Git artifacts
*.rej

# other dev. stuff
TAGS
*.stats
*.svg

.DS_Store
