fish_history
htmlcov
*.DS_STORE
*.dot
*.egg
*.egg-info
*.mo
*.o
*.py.bak
*.orig
*.prof
*.py[cod]
*.so
*.stats
*.svg
*.swp
*.wpr
*.wpu
.DS_Store
.cache
.coverage
.coverage.*
.fuse*
.idea/
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.pytest_cache/
.python-version
__pycache__/
.tox
.vagrant/
.vault_test_token
.venv*
Vagrantfile
bin
config.json
coverage
coverage.xml
dist/
docker/testrunner*-timestamp
eggs/
env/
gc_*.dot
junit.xml
node_modules/
nosetests.xml
pgdata/
pypirc
sdist
_build/
build/
venv/
tmp/
pgdata/
Pipfile.lock
pip-wheel-metadata
server/benchmarks/local/import/parquet*
server/benchmarks/local/import/data/
# the openapi.json file is generated during setup.py operations
server/src/cr/server/api/static/openapi.json
lib/src/cr/lib/_speed/*.html
lib/src/cr/lib/_speed/*.c

lib/src/cr/lib/integrations/decipher/fixtures/surveys/benchmarks*
lib/src/cr/lib/integrations/surveymonkey/fixtures/surveys/benchmarks/*
# If you build devdocs from the github repositories, it will pull in devdocs/src
devdocs/src
cov.xml

#VS Code
.vscode/
/zoom.iml

# local configs
.local/
/testvenv3
/site-packages
